body {
  @include font-source($font-family-base, 14px, '', '', 1.45);
}

.container-fluid__brand {
  @include font-source('', 20px, $color-gray, 200, '');
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  text-shadow: 0 1px 0 #fff;
}

.span6__input {
  @include calculate-font(1);
  color: $color-gray-dark;
}

.demo__label, {
  @include calculate-line-height('', 26px);
  color: $color-black;
  margin-bottom: 25px;
}

.demo__field {
  @include calculate-line-height('', 26px);
  color: $color-black;
}

.demo__label--name {
  @include font-source($font-family-base, 14px, $color-black, '', 26px);
  line-height: 1.45;
}

.demo__field--input {
  @include font-source($font-family-base, 16px, $color-black, '', 26px);
  box-shadow: 0 1px 1px !important;
  border: 1px solid $color-gray-light;
}

ul#tabs__custom {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

ul#tabs__custom li {
  display: inline-block;
  background-color: $color-blue;
  padding: 15px 45px;
  color: $color-white;
  cursor: pointer;
}

ul#tabs__custom li:hover {
  background-color: $color-blue-dark;
}

ul#tabs__custom li.active {
  background-color: $color-blue-dark;
}

ul#tabs__custom--links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#tabs__custom--links li {
  display: none;
}

ul#tabs__custom--links li.active {
  display: block;
}

.tabs__custom--element {
  margin: 0;
}

.divider {
  height: 1px;
}

.span12 {
  width: 940px;
}

.divider.large {
  margin: 30px auto;
}

.tabbable.custom-tabs>.nav-tabs {
  border: 0;
  margin: 0;
}

.tabbable.custom-tabs>.nav-tabs>a {
  background-color: $color-blue-light;
  color: $color-white;
  padding: 20px 45px;
}

.layout-wrapper {
  @include size(100%, 100%);
  background: $color-white;
  display: block;
  font-size: $font-size-base;
}

.banner-heading {
  @include font-source('', 34px, '', 200, 1.6);
  text-align: center;
}

[class*="span"] {
  float: left;
  margin-left: 0 !important;
  min-height: 1px;
}

.tab-content-bg {
  background-color: #f5f5f5;
  padding: 20px;
  padding-top: 10px;
}

h4 {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}

img {
  @include size(90px, 90px);
  float: right;
}


/* Css for Div hide and show */
.div-hide-ui {
  @include font-source('', 16px, '', '', 22px);
  background: #fff;
  border: 1px solid #5bc0de;
  border-radius: 6px;
  box-shadow: 1px 1px 6px;
  padding: 8px;
}

/* CSS Hide and show Blocks Starte here */
.main--profesional {
  border-radius: .5em;
  box-sizing: border-box;
  color: $color-black;
  display: block;
  margin: 1em auto;
  padding: 1em 0;
  width: 100%;
}
