// Font family
$font-family-base: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Font size
$font-size-base: 13px;

// Colors
$color-gray: #777;
$color-gray-dark: #666;
$color-black: #000;
$color-gray-light: #ddd;
$color-blue-light: #49a5d5;
$color-blue: #09c;
$color-blue-dark: 006699;
$color-white: #fff;
